.search__form__error {
  background: #feeae7;
  border: 1px solid #b94a48;
  color: #b90000;
  border-radius: 0.32em;
  margin-bottom: 5px;
  padding: 3px;
  display: inline-block;
}
.search__form__error__icon {
  background: #b94a48;
  color: #ffffff;
  font-weight: bold;
  margin: 0 5px;
  padding: 0 5px;
}

.gray {
  color:#666;
}
.grayLight {
  color:#ccc;
}

#sidebar{
	margin-top:0px;
	border-right: 1px solid #eeeeee;
}


#rightpanel {
	word-break: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #006dcc;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}

.loading-spinner {
  position: relative;
}

.loading_text {
	text-align: center;
	font-size: 1.2em;
}

.loading-spinner__part1 {
	top: 8em;
}

img.loading-page__image {
  display: block;
  margin: 4em auto 0;
  max-width: 280px;
}